<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>displayCommentsExample</title>
</head>
<body>
<style>
    .inline {
        display: inline;
    }
</style>


<!--Example nested comments-->
{% for comment in comments %}
<p class="inline">User ID: {{ comment.get }}</p>



</body>
</html>