{% if loggedIn==true %}
<link rel="stylesheet" href="../css/tree.css">
<ol class="tree">
    {%  set start=0 %}
    {% include "tree.twig" %}
</ol>
{% else %}
<p style="text-align: center;">You need to be logged in to do that</p>
{% endif %}