<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mal</title>
    <link rel="stylesheet" href="../css/stylesheet-fileUpload.css" />
</head>
<body>

<!--Må sjekke om bruker er logget inn før en kan laste opp-->
<form method="post" style="border: 1px solid #ccc">
    <div class="container">
        <h1>Last opp fil</h1>
        <p>Klikk 'Legg til fil' og 'Last opp' etter valgt fil</p>

        <label for="fileToUpload"><b>Velg ønsket fil fra din PC: </b></label>
        <input type="file" name="uploadedFile"  placeholder="Velg fil" required>

        <label for="fileDescription"><b>Beskrivelse av fil: </b></label>
        <input type="text" name="fileDescription" placeholder="Beskriv filen din" required>

        <label for="submit_fileUpload"><b>Last opp</b></label>
        <input type="submit" name="sumbit_fileToUpload">
    </div>
</form>

</body>
</html>