<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(https://vgc.no/drfront/images/2019/05/07/c=0,145,1900,1075;w=654;h=370;465645.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>FileName</h1>
                                <h2>Description</h2>
                                <p><a class="btn btn-primary btn-demo" href="#">Download</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>WordPress Theme For People Who Tell Stories</h1>
                                <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluids">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>What Would You Like To Learn?</h1>
                                <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>I Love to Tell My Story</h1>
                                <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-counter" class="fh5co-counters">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animate-box">
            <p>Discover the wonderfull world of filesharing! What's ours is yours, what's yours is ours! </p>
        </div>
    </div>
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="3452" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Files uploaded</span>
                </div>
            </div>
        </div>
    </div>
</div>