<link rel="stylesheet" href="../css/login.css">
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <button type="submit" name="login">login</button>
            {% if status is not null and status.status == "FAIL" %}
                <p class="message">{{ status.errorMessage }}</p>
            {% endif %}
        </form>
    </div>
</div>
