<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="../css/stylesheet-signUp.css" />
</head>
<body>

<!--Add user--> <!--Med hjelp fra: https://www.w3schools.com/howto/howto_css_signup_form.asp-->
<form method="post" style="border: 1px solid #ccc">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Lag ny bruker ved å fylle inn skjemaet under.</p><hr>

        <label for="firstName"><b>Fornavn</b></label>
        <input type="text" placeholder="Fornavn" name="firstName" required>

        <label for="lastName"><b>Etternavn</b></label>
        <input type="text" placeholder="Etternavn" name="lastName" required>

        <label for="username"><b>Brukernavn</b></label>
        <input type="text" placeholder="Brukernavn" name="username" required>

        <label for="email"><b>Epost</b></label>
        <input type="email" placeholder="Skriv inn Epost" name="email" required>

        <label for="psw"><b>Passord</b></label>
        <input type="password" placeholder="Skriv inn passord" name="psw" required>

        <label for="psw-repeat"><b>Gjenta passord</b></label>
        <input type="password" placeholder="Gjenta passord" name="psw-repeat" required> <!--Husk å sjekke om passordene stemmer overens i signUp.php-->

        {% if passNoMatch==true %}
            <p>Passwords do not match!</p>
        {% endif %}
        <div class="clearfix">
            <a type="button" class="cancelbtn" name="cancel_signup" href="index.php">Avbryt</a> <!--Videresend til index-->
            <button type="submit" class="signupbtn" name="submit_signup">Registrer ny bruker</button>
        </div>
    </div>
</form>

</body>
</html>